
@import url('https://fonts.googleapis.com/css?family=Lato&amp;subset=latin-ext" rel="stylesheet'
);
figure {
   margin:none;
   padding:none;
}

figcaption {
   color:yellow;
   text-align:center;
   font-size:0.7em;
   line-height:none;
}

img {
   max-width: 500px;
  margin-left: auto;
   margin-right: auto;
}

div {
   max-width:40em;
   margin-left: auto;
   margin-right: auto;
}

head, h1, h2, body {
   font-family: 'Lato', serif;
   color: #4b4949;
}

h1, h2, h3 {
   text-align: center;
   font-size: 36px;
   margin-top:1.5em;
   margin-bottom:1.5em;
}

h3 {
   font-size: 1em;
}

h2 {
  font-size: 1.5em;
}

blockquote {
   font-size: 20px;
   font-style: italic;
}

blockauthor {
   font-style: normal;
   font-size: 17px;
}

p, ol, blockquote {
   line-height: 1.5em
}
